* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100% !important;
  height: 100%;
  display: flex;
}

body {
  background: rgba(107, 49, 53, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.story__section {
  width: 100vw;
  height: auto;
}

.story__card {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* @media (min-width: 480px) {
  .story__card {
    width: 50vw;
    height: auto;
  }
} */

.story__card-head-title {
  line-height: 2;
  /* font-weight: bold; */
  /* font-size: 3vh; */
  font-size: 4vh;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25em;
}

.story__card-head-title-span {
  text-transform: lowercase;
  font-family: "Tangerine", cursive;
  font-size: 1.5rem;
}

.story__card-img {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: auto;

  /* border: solid 2rem rgba(255, 255, 255, 0.3); */
}

.story__card-title {
  font-family: "Tangerine", cursive;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.story__card-body {
  display: block;
  width: 90%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0rem;
  text-align: center;
}

.story__card-date{
  margin: 0.5rem 0;
}

.story__card-location{
  padding-bottom: 0.5rem;
  
}

.story__card-text {
  padding-bottom: 0.5rem;
}
